<style>

</style>


<div class="container-fluid">
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading">Login</h2>
        
        <br/>
        <div class="row">
            <div class="col-md-3">
                <label for="username" class="sr-only">Email address</label><br/>
            <input type="email" id="username" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-3">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control col-md-6" placeholder="Password" required>
    </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>
    </div>
       
    </div>
</form>
</div>